.container {
	width: auto;
	margin: auto;
	vertical-align: middle;
}
#first {
	width: 50%;
	float: left;
	height: 90%;
}
#second {
	width: 50%;
	float: left;
	height: 90%;
}
#athird {
	width: 30%;
	float: left;
	height: 90%;
}